@mixin web-fonts($family-name, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $family-name;
        src: url('#{$path}.eot');                                        /* IE9 Compat Modes     */
        src: url('#{$path}.eot?#iefix') format('embedded-opentype'),     /* IE6-IE8              */
             url('#{$path}.woff') format('woff'),                        /* Modern Browsers      */
             url('#{$path}.ttf') format('truetype');                     /* Safari iOS, Android, */
        
        font-weight: $weight;
        font-style: $style;
    }
}
